<% client_scope.each do |c| %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <%= c.last %> <%= c.second %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% project_status.each_with_index do |p, i| %>
        <li><a href="<%= admin_root_path(client: c.first, status: p.last) %>"><%= p.first %>  <b><%= count_project(c.first, p.last) %></b></a></li>
        <% if i == 0 %><li class="divider"></li><% end %>
      <% end %>
    </ul>
  </div>
<% end %>
