<div class="panel calendar-panel collapse in" id="info">
  <div class="ro1w">
    <div class="span4"><span class="label"><%= Russian::l minimum, format: :short %></span></div>
    <div class="span5 text-right"><span class="label"><%= Russian::l maximum, format: :short %></span></div>
  </div>
  <% info = months_split(minimum, maximum) %>
  <div class="progress progress-info">
    <% info[:intervals].each_with_index do |i, index| %>
      <% i.to_i.times do |index| %>
        <div class="bar bar-warning" style="width: <%= 100.0/info[:days] %>%;"><%= Russian::l((minimum + index.days), format: :small) %></div>
      <% end %>
    <% end %>
  </div>
  <% kind.each do |k| %>
    <% if @tasks.where(kind: k).present? %>
      <div class="progress progress-info">
        <span><%= k.text %></span>
        <% @tasks.where(kind: k).ordered.each do |task| %>
          <% info = task.time_percent(minimum, maximum, k, resource) %>
          <% if task.empty_dates? %>
            <div class="bar bar-warning" style="width:100%;"></div>
          <% else %>
            <div class="bar bar-none" style="width: <%= info[:befores] %>%;"></div>
            <div class="bar bar-success" style="width: <%= info[:length] %>%;">
              <span><%= link_to task.title, admin_task_path(task) %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div>