<!-- <ul class='scopes table_tools_segmented_control'>
  <% @task_scope.each do |t| %>
    <li class="scope">
      <a href="<%= admin_admin_user_path admin_user, scope: t.first %>" class="table_tools_button">
        <%= t.last %>
        <span class="count"><%= t.second %></span>
      </a>
    </li>
  <% end %>
</ul> -->

<% @task_scope.each do |c| %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <%= c.last %> <%= c.second %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @task_status.each_with_index do |p, i| %>
        <li><a href="<%= admin_admin_user_path(scope: c.first, status: p.last) %>"><%= p.first %>  <b><%= count_task(c.first, p.first, admin_user) %></b></a></li>
        <% if i == 0 %><li class="divider"></li><% end %>
      <% end %>
    </ul>
  </div>
<% end %>